In [1]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-

In [1]:
import pandas as pd
import codecs
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#snssns..set_styleset_sty ('whitegrid')
%matplotlib inline

pd.set_option("display.max_columns", 200) # 表示カラムの最大値
pd.set_option('display.max_rows', 20) # 表示行数の最大値
pd.set_option('display.max_colwidth', 30)
pd.set_option("display.float_format", '{:.2f}'.format) # 小数点以下の有効数字

# jupyterの幅を自動調整
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:85% !important; }</style>"))

In [41]:
with codecs.open("../01.data/cfd_result_2017.csv", "r", "Shift-JIS", "ignore") as file:
    data = pd.read_csv(file, header=2, parse_dates=True, dtype={'終値' : str} )
    data = data.drop(columns=['商品名', 'Product', '前日清算価格', '当日清算価格', '金利相当額', '配当相当額', '取引数量', '建玉数量'], axis=1)
    data.columns = ['trading_day', 'price_start', 'price_high', 'price_low', 'price_close', 'prise_end_diff_N1']

data = data.set_index('trading_day')

In [42]:
data.dtypes

price_start           object
price_high            object
price_low             object
price_close           object
prise_end_diff_N1    float64
dtype: object

In [37]:
data

            price_start price_high price_low price_close  prise_end_diff_N1
trading_day
2017-01-03       19,234     19,432    19,147      19,304             267.00
2017-01-04       19,310     19,678    19,268      19,647             334.00
2017-01-05       19,632     19,657    19,370      19,439            -208.00
2017-01-06       19,415     19,634    19,318      19,592             153.00
2017-01-09       19,585     19,709    19,415      19,445            -147.00
2017-01-10       19,441     19,495    19,250      19,330            -115.00
2017-01-11       19,365     19,518    19,133      19,350              20.00
2017-01-12       19,350     19,350    18,949      19,183            -167.00
2017-01-13       19,247     19,380    19,148      19,269              86.00
2017-01-16       19,239     19,251    19,039      19,055            -214.00
...                 ...        ...       ...         ...                ...
2017-12-18       22,852     23,050    22,794      23,016             275.00
2017-12-19       23,051     23,052    22,849      22,854            -152.00
2017-12-20       22,892     23,009    22,860      22,939              67.00
2017-12-21       22,925     23,027    22,784      22,930              -9.00
2017-12-22       22,924     22,998    22,862      22,965              35.00
2017-12-25       22,984     23,014    22,921      22,972               7.00
2017-12-26       22,980     23,010    22,921      22,986              14.00
2017-12-27       22,925     23,018    22,909      22,968             -18.00
2017-12-28       22,966     23,009    22,774      22,868            -100.00
2017-12-29       22,892     22,954    22,770      22,800             -68.00

[259 rows x 5 columns]

In [40]:
data.str.strip(',')

AttributeError: 'DataFrame' object has no attribute 'str'

In [30]:
data.dtypes

trading_day           object
price_start           object
price_high            object
price_low             object
price_close           object
prise_end_diff_N1    float64
dtype: object

## 移動平均

In [10]:
MA_period = 25

In [15]:
ma25 = data['prise_end_diff_N1'].rolling(4).mean()

In [16]:
ma25

0         nan
1         nan
2         nan
3      136.50
4       33.00
5      -79.25
6      -22.25
7     -102.25
8      -44.00
9      -68.75
        ...
249     23.25
250     25.50
251     74.50
252     45.25
253    -14.75
254     25.00
255     11.75
256      9.50
257    -24.25
258    -43.00
Name: prise_end_diff_N1, Length: 259, dtype: float64

In [122]:
s.rolling(window=3, min_periods=3).mean()

0    nan
1    nan
2   1.00
3   2.00
4   3.00
5   4.00
6   5.00
dtype: float64