In [22]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-

In [25]:
import pandas as pd
import codecs

In [38]:
#snssns..set_styleset_sty ('whitegrid')
%matplotlib inline

pd.set_option("display.max_columns", 200) # 表示カラムの最大値
pd.set_option('display.max_rows', 20) # 表示行数の最大値
pd.set_option('display.max_colwidth', 30)
pd.set_option("display.float_format", '{:.2f}'.format) # 小数点以下の有効数字

# jupyterの幅を自動調整
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:85% !important; }</style>"))

In [43]:
with codecs.open("../01.data/cfd_result_2017.csv", "r", "Shift-JIS", "ignore") as file:
    data = pd.read_csv(file, header=2)
    data = data.drop(columns=['商品名', 'Product', '取引数量', '建玉数量'], axis=1)

In [44]:
data

,取引日,前日清算価格,始値,高値,安値,終値,当日清算価格,前日比,金利相当額,配当相当額
0,2017-01-03,"19,046","19,234","19,432","19,147","19,304","19,313",267.00,nan,NaN
1,2017-01-04,"19,313","19,310","19,678","19,268","19,647","19,647",334.00,nan,NaN
2,2017-01-05,"19,647","19,632","19,657","19,370","19,439","19,439",-208.00,nan,NaN
3,2017-01-06,"19,439","19,415","19,634","19,318","19,592","19,592",153.00,nan,NaN
4,2017-01-09,"19,592","19,585","19,709","19,415","19,445","19,445",-147.00,nan,NaN
5,2017-01-10,"19,445","19,441","19,495","19,250","19,330","19,330",-115.00,nan,NaN
6,2017-01-11,"19,330","19,365","19,518","19,133","19,350","19,350",20.00,nan,NaN
7,2017-01-12,"19,350","19,350","19,350","18,949","19,183","19,183",-167.00,nan,NaN
8,2017-01-13,"19,183","19,247","19,380","19,148","19,269","19,269",86.00,nan,NaN
9,2017-01-16,"19,269","19,239","19,251","19,039","19,055","19,055",-214.00,nan,NaN
...,...,...,...,...,...,...,...,...,...,...
249,2017-12-18,"22,749","22,852","23,050","22,794","23,016","23,024",275.00,nan,NaN
250,2017-12-19,"23,024","23,051","23,052","22,849","22,854","22,872",-152.00,nan,NaN
251,2017-12-20,"22,872","22,892","23,009","22,860","22,939","22,939",67.00,nan,NaN
252,2017-12-21,"22,939","22,925","23,027","22,784","22,930","22,930",-9.00,nan,NaN
253,2017-12-22,"22,930","22,924","22,998","22,862","22,965","22,965",35.00,nan,NaN
254,2017-12-25,"22,965","22,984","23,014","22,921","22,972","22,972",7.00,nan,NaN
255,2017-12-26,"22,972","22,980","23,010","22,921","22,986","22,986",14.00,nan,"3,332"
256,2017-12-27,"22,986","22,925","23,018","22,909","22,968","22,968",-18.00,nan,NaN
257,2017-12-28,"22,968","22,966","23,009","22,774","22,868","22,868",-100.00,nan,NaN
258,2017-12-29,"22,868","22,892","22,954","22,770","22,800","22,800",-68.00,nan,NaN